@{
    var currentAction = Url.Action(null);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <a href="@Url.Action("Index", "Doctors")" class="site-title">
                    <span>Hoży</span><br />
                    <span>doktorzy</span>
                </a>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Doktorzy</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/aibarber")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        @RenderSection("scriptsText", required: false)
    </script>
</body>
</html>
