@model Patient

@{
    ViewBag.Title = "Dodaj wizytę";
    Layout = "../Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @InputExtensions.Hidden(Html, "doctorId", ViewBag.DoctorId)
    @InputExtensions.Hidden(Html, "visitId", Model == null ? 0 : Model.Id)
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisitTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.VisitTime, new { @class="datetimepicker"})
                @Html.ValidationMessageFor(model => model.VisitTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("duration", ViewBag.DurationTimes as IEnumerable<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Duration)
            </div>
        </div>

        <input type="submit" value="Utwórz" />
    </fieldset>
}

